<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549431990992-9u8gr7k0uhvkf9tq573rnssp3uflhmhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549431990992-9u8gr7k0uhvkf9tq573rnssp3uflhmhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDHHdEJW86jp6nCnlylBoTjyLbJuEPYfIw</string>
	<key>GCM_SENDER_ID</key>
	<string>549431990992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techwisely.rapydjobs</string>
	<key>PROJECT_ID</key>
	<string>rapydjob</string>
	<key>STORAGE_BUCKET</key>
	<string>rapydjob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549431990992:ios:3964451b8e016e2f</string>
	<key>DATABASE_URL</key>
	<string>https://rapydjob.firebaseio.com</string>
</dict>
</plist>